{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'navbar-top-fixed.css' %}">
  <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700' %}"> 
  <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">

  <nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar navbar-dark bg-dark btn btn-dark" href="http://127.0.0.1:8000/cadastro">API_REST</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      </div>
    </div>
    </nav>


  <center>
  <form method="POST" enctype="multipart/form-data">
    <br><br><br><br>
    {% csrf_token %}

    <div class="">
        <div class="col-md-7 col-xs-10">
          
          <div class="x_panel">
            <div class="x_title">
              <h2>Importar arquivos Excel (.xlsx) </h2>           
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
           
              <div class="col-md-8 col-sm-12 col-xs-12 form-group">      
              </div>
                    <input type="file" name="myfile" class="form-control"required>
                    <br>
                    <button type="submit" class="btn btn-dark">Importar</button> 

                          
                            </div>
                        </div>
                    </div>
                </div>
             
  </form>  
</center> 
{% endblock %}
